# JWT handling
JWT_SECRET_KEY=

# Telegram handling
TELEGRAM_BOT_TOKEN=

# DB handling
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_NAME=

# Auth Provider handling
GOOGLE_CLIENT_ID=
APPLE_CLIENT_ID=
APPLE_KEYS_URL=https://appleid.apple.com/auth/keys
